/* 背景 */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f3f3f3d4 0%, #d3cadc 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 表单容器 */
form {
    background: white;
    padding: 30px 35px;
    border-radius: 12px;
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

/* 标题 */
h1 {
    color: #333;
    margin-bottom: 30px;
}

p {
    color: #666;
    margin-top: 0px;
    font-size: 14px;
}

/* label */
label {
    font-size: 14px;
    color: #444;
    float: left;
    margin-bottom: 5px;
}

/* 输入框 */
input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

input[type="email"]:focus {
    border-color: #007bff;
}

/* 蓝色按钮 */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: #0066d9;
}

/* 返回链接 */
a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
